<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amigos y solicitudes de amistad</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <div class="links">
            <a href="../../users/profile/<%=currentUser.id%>">Perfil</a>
            <a href="../../users/friends-page">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="../../users/logout">Desconectar</a>
            <div class="user-header">
                <img src="/img/contact-img.png" alt="imagen de usuario" id="header-img">
                <span><%=currentUser.puntuation%></span>
            </div>
        </div>

    </header>
    <div class="container">
        <h2><%=question.question_body%></h2>
        <% if (!reply) { %>
            <h3>No has contestado a esta pregunta</h3>
            <a href="../answer-question/<%=question.id%>" id='create-question-button'>Contestar pregunta</a>
        <%}%>
        
        <div class="stats">
            <% if(users.length == 0) {%>
                <p>Ninguno de tus amigos ha contestado a esta pregunta</p>
            <%}
               else {%>
                <p>Los siguientes amigos han contestado a esta pregunta:</p>
                <% users.forEach(user => { %>
                    <div class="answer">
                    <div class="user-profile">
                        <img src="/img/contact-img.png" alt="" class="result-picture">
                        <p><%=user.username_2%></p>
                    </div>
                    <% if(user.guess){%>
                        <div class="response">
                            <a href="../answer-like-friend/<%=question.id%>" class="guess-button">Adivinar</a>
                        </div>
                    <%}
                       else { 
                        if(user.correct){ %>
                            <div class="response">
                                <p class="guess-button"> Has acertado! </p>
                            </div>
                        <%}
                        else { %>
                            <div class="response">
                                <p class="guess-button"> Has fallado! </p>
                            </div>
                        <% }
                    }%>
                </div>
                <%}); %>
            <%}%>
        </div>
    </div>
</body>

</html>