<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <title>Pregunta</title>
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <div class="links">
            <a href="../../users/profile/<%=currentUser.id%>">Perfil</a>
            <a href="../../users/friends-page">Amigos</a>
            <a href="../">Preguntas</a>
            <a href="../../users/logout">Desconectar</a>
            <div class="user-header">
                <img src="/users/getProfilePicture/<%=currentUser.id %>" alt="imagen de usuario" id="header-img">
                <span><%=currentUser.puntuation%></span>
            </div>
        </div>
    </header>
    <div class="container">
        <h2><%=question.question_body%></h2>
        <form method="POST" action="../answer-question/">
            <% answers.forEach(answer => { %>
            <div class="option"> <input type="radio" name="option" value="<%=answer.id%>"><%=answer.answer_body%></div>
            <% });%>
            <div class="option" id='other'>
                <input type="radio" name="option" value="new"> Otra:
                <input type="text" name="answer_body">
            </div>
            <input type="submit" value="Responder" value="submit-button">
        </form>
    </div>

</body>

</html>