<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="./../../css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="../../img/logo.png" alt="logo">
        <div class="links">
            <a href="">Perfil</a>
            <a href="../friends-page">Amigos</a>
            <a href="../../questions">Preguntas</a>
            <a href="../logout">Desconectar</a>
            <div class="user-header">
                <img src="../../img/contact-img.png" alt="imagen de usuario" id="header-img">
                <span><%= user.puntuation %> pts</span>
            </div>
        </div>

    </header>
    <div class="container">
        <%if(user.id == sessionId){%>
        <h2>Tu perfil</h2>
        <%}else{%><h2>Perfil de <%= user.username %></h2><%}%>
        
        <div class="user">
            <div class="user-img">
                <img src="../../img/contact-img.png" alt="foto de perfil" id="user-image">
            </div>
            <div class="user-info">
                <h3><%= user.username %></h3>
        <p> <%= new Date().getFullYear() - user.birth_date.getFullYear()  %> años</p>
        <p> <%= user.gender %> </p>
        <p> <%= user.puntuation %> puntos</p>
    </div>
    </div>
    <%if(user.id == sessionId){%>
    <a href="../update-profile" class="button edit-profile-button">Modificar perfil</a>
    <%}%>
    </div>
</body>

</html>