<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <title>Busqueda</title>
</head>

<body>
    <%-include("header") %>
    <div class="container">

        <h2>Resultados de la búsqueda: "<%=name%>"</h2>
        <% users.forEach(user => {%>
        <div class="user-search">
            <div class="user-info-search">
                <img src="/users/getProfilePicture/<%=user.id %>" alt="profile-picture" class='result-picture'>
                <a href="profile/<%=user.id%>"><%=user.username%></a>
            </div>
            <% if(user.addRequest){%><a href="add-request/<%= user.id %> " class='request-button'>Solicitar amistad</a> <%}%>
            </div>
        <%});%>
        </div>

</body>

</html>